
<div style="background-image: url(https://firebasestorage.googleapis.com/v0/b/graduation-project-itgo.appspot.com/o/preview%2Fitgo.png?alt=media&token=36f8cfe0-ca58-4741-9b29-66750f1741a1); width: 100vw; height: 100vh; background-size: cover; background-repeat: no-repeat; background-position: center;">
  <h1 class="text-center text-white">SERVER ITGO IS RUNNING</h1>
  <div class="d-flex justify-content-center">
    <a class="btn btn-link" target="_blank" href="https://itgo.vercel.app" rel="noopener noreferrer">Demo UI</a>
  </div>
</div>
